---
tags: nav
layout: base.njk
title: Cennik
---

<section>
	<h1>Naša ponuka:</h1>
	<ul>
		<li>
			Diagnostika a liečba vnútorných orgánov:
			<ul>
				<li>Diagnostika a liečba chorôb vnútorných orgánov</li>
				<li>Výživové poradenstvo pri chorobách vnútorných orgánov</li>
			</ul>
		</li>
		<li>
			Kardiologické vyšetrenia:
			<ul>
				<li>EKG</li>
				<li>
					HOLTER EKG 24hodinový (domáce monitorovanie EKG záznamu)
				</li>
				<li>
					HOLTER tlakový 24 hodinový (domáce monitorovanie krvného
					tlaku a pulzu)
				</li>
				<li>
					Domáci EKG selfmonitoring (monitorovanie EKG záznamu pri
					pocitoch náhleho záchvatového búšenia srdca)
				</li>
			</ul>
		</li>
		<li>
			Laboratórne vyšetrenia:
			<ul>
				<li>Odbery krvi</li>
				<li>
					Prístrojové okamžité vyšetrenie porúch zrážanlivosti krvi
				</li>
				<li>Prístrojové okamžité vyšetrenie hladiny cukru v krvi</li>
				<li>
					Prístrojové okamžité vyšetrenie hladiny cholesterolu v krvi
				</li>
			</ul>
		</li>
		<li>
			Preventívne vyšetrenia:
			<ul>
				<li>Preventívne prehliadky</li>
				<li>Predoperačné vyšetrenia</li>
			</ul>
		</li>
		<li>
			Administratívne služby:
			<ul>
				<li>Vystavenie zdravotného preukazu</li>
				<li>
					Vyšetrenie pre potvrdenie spôsobilosti viesť motorové
					vozidlo
				</li>
				<li>Vyšetrenie pred nástupom do práce</li>
				<li>Vyšetrenia na vlastnú žiadosť pacienta</li>
			</ul>
		</li>
		<li>
			Špeciálne interné vyšetrenia:
			<ul>
				<li>
					Špeciálne interné vyšetrenia (pred hospitalizáciou v
					psychiatrickej liečebni)
				</li>
			</ul>
		</li>
		<li>
			Domáce vyšetrenia:
			<ul>
				<li>
					Vyšetrenie pacienta v domácom prostredí vrátane odberov krvi
					a EKG po objednaní
				</li>
			</ul>
		</li>
		<li>
			Kúpeľná liečba:
			<ul>
				<li>Vystavenie návrhu na kúpeľnú liečbu</li>
			</ul>
		</li>
	</ul>
</section>

<section>
	<h1>Cenník v EUR:</h1>
	<table>
		<thead>
			<tr>
				<th>Služba</th>
				<th>Cena</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Odber krvi na vlastnú žiadosť</td>
				<td>3,00</td>
			</tr>
			<tr>
				<td>Vyšetrenie pacienta bez zdravotnej poisťovne</td>
				<td>20,00</td>
			</tr>
			<tr>
				<td>Vystavenie zdravotného potvrdenia k vodičskému preukazu</td>
				<td>15,00</td>
			</tr>
			<tr>
				<td>
					Vystavenie zdravotného preukazu (na prácu v potravinárstve)
				</td>
				<td>15,00</td>
			</tr>
			<tr>
				<td>Vstupná prehliadka pred prijatím do prac. pomeru</td>
				<td>15,00</td>
			</tr>
			<tr>
				<td>Vyšetrenie na posudkové účely</td>
				<td>10,00</td>
			</tr>
			<tr>
				<td>Vyšetrenie pre komerčné účely poisťovní</td>
				<td>15,00</td>
			</tr>
			<tr>
				<td>Predoperačné vyšetrenie pred interupciou</td>
				<td>20,00</td>
			</tr>
			<tr>
				<td>Predoperačné vyšetrenie pred umelým oplodnením</td>
				<td>20,00</td>
			</tr>
			<tr>
				<td>Predoperačné vyšetrenie pred estetickou operáciou</td>
				<td>20,00</td>
			</tr>
			<tr>
				<td>Náklady na dopravu pri návšteve pacienta v domácnosti</td>
				<td>13,00</td>
			</tr>
			<tr>
				<td>Kopírovanie zdrav. dokum. pre pacienta</td>
				<td>A4/0,15</td>
			</tr>
			<tr>
				<td>Potvrdenie o zdravotnom stave na žiadosť pacienta</td>
				<td>15,00</td>
			</tr>
			<tr>
				<td>Poradenstvo pred vycestovaním do exotic. krajín</td>
				<td>20,00</td>
			</tr>
			<tr>
				<td>Nutričné poradenstvo</td>
				<td>10,00</td>
			</tr>
			<tr>
				<td>
					Zapožičanie prístroja do domácnosti /24 hod. (Holter TK)
				</td>
				<td>10,00</td>
			</tr>
			<tr>
				<td>Zapožičanie prístroja do domácnosti/24h (Holter Ekg)</td>
				<td>20,00</td>
			</tr>
			<tr>
				<td>Zapožičanie digitálneho tlakomeru do domácnosti./24hod</td>
				<td>3,00</td>
			</tr>
			<tr>
				<td>Epizódny Ekg domáci monitoring. /24 hod</td>
				<td>10,00</td>
			</tr>
			<tr>
				<td>Zapožičanie prístroja na monitorovanie INR/24h</td>
				<td>5,00</td>
			</tr>
			<tr>
				<td>
					Poskytnutie vyšetrenia na vlastnú žiadosť, pričom služba nie
					je vykázaná na zdravotnú poisťovňu
				</td>
				<td>30,00</td>
			</tr>
			<tr>
				<td>Elektronická komunikácia s pacientom/za 1 mesiac</td>
				<td>5,00</td>
			</tr>
			<tr>
				<td>Vyšetrenie na potreby polície a forenzné účely</td>
				<td>30,00</td>
			</tr>
			<tr>
				<td>
					Vypísanie žiadosti pre ADOS a súkromné opatrovateľské
					agentúry na vlastnú žiadosť pacienta
				</td>
				<td>15,00</td>
			</tr>
		</tbody>
	</table>
</section>
