---
layout: base.njk
title: Dovolenka
nav: Dovolenka
tags: 
    - nav
    - main
---

<h1>Dovolenka</h1>

<h2>
	<a href="https://www.e-vuc.sk/buxus/generate_page.php?page_id=60653">
		Odkaz na stránku VÚC
	</a>
</h2>
