---
layout: base.njk
title: Kontakt
nav: Kontakt
tags: 
    - nav
    - main
---

<h1>Kontakt</h1>

<p>Kde nás nájdete</p>

<div id="map"></div>

<link
	rel="stylesheet"
	href="https://esm.sh/leaflet@1.9.4/dist/leaflet.css"
/>

<style>
	#map { height: 400px; }
</style>

<script type="module" src="/kontakt/index.js"></script>
