<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		
		<link rel="stylesheet" href="/style/style.css" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
	</head>

	<body>
		<header>
			<nav>
				<a href="/">
					<img src="/assets/logo.svg" width="200" alt="logo" inline>
				</a>

				<ul>
					{%- for nav in search.pages("nav", "url") -%}
					  	<li>
							<a href={{ nav.data.url }}>{{ nav.data.nav }}</a>
						</li>
					{%- endfor -%}
				</ul>
			</nav>
		</header>

		<main>
			{{ content | safe }}
		</main>

		<hr>
		<footer style="
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		">
			<div>
				<h3>MEDBI s.r.o.</h3>
				<p>Interná ambulancia</p>
				<p>Vajanského 68</p>
				<p>900 01 Modra</p>
			</div>

			<div>
				<h3>Kontakt</h3>
				<p>bibzova@gmail.com</p>
				<p>033/640 83 78</p>
			</div>

			<div>
				<h3>Tím</h3>
				<p>MUDr. Anna Bibzová (Lekár)</p>
				<p>Mrg. Miroslava Hríbová (Sestra)</p>
			</div>
		</footer>
	</body>
</html>
