<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		
		<link rel="stylesheet" href="/style/style.css" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
	</head>

	<body>
		<section>
			<header>
				<nav>
					<ul>
						<li>
							<a href="/">
								<img src="/assets/logo.svg" width="200" alt="logo" inline>
							</a>
						</li>
					</ul>
				</nav>

				<nav>
					<ul>
						{%- for p in search.pages("nav", "url") -%}
							  <li>
								<a href={{ p.url }}>{{ p.nav }}</a>
							</li>
						{%- endfor -%}
					</ul>
				</nav>
			</header>
	
			<article>
				{{ content | safe }}
			</article>
	
			<footer>
				<nav>
					<ul>
						<li>
							<b>MEDBI s.r.o.</b>
							<ul>
								<li>Interná ambulancia</li>
								<li>Vajanského 68</li>
								<li>900 01 Modra</lu>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<b>Kontakt</b>
							<ul>
								<li>bibzova@gmail.com</li>
								<li>033/640 83 78</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<b>Tím</b>
							<ul>
								<li>MUDr. Anna Bibzová (Lekár)</li>
								<li>Mrg. Miroslava Hríbová (Sestra)</li>
							</ul>
						</li>
					</ul>
				</nav>
			</footer>
			<hr>
		</section>
	</body>
</html>
