#menu a { font: 20px Bookman Old Style; font-style: bold; color: #FFFFFF; padding: 0px 35px 0px 0px; text-decoration: none;}
#menu a:hover {color:#FF9966;} 

#menu b { font: 20px Bookman Old Style; font-style: italic; color: #FFCC00; padding: 0px 35px 0px 0px; text-decoration: none;}
#menu b:hover {color:#FF9966;}